<form id="hashform" class="form form-horizontal well" method="GET" action="{{ path('session_search') }}">
	<fieldset>
		<legend>Join a Game</legend>
		<div class="control-group">
			<label class="control-label" for="hash">Game Hash</label>
			<div class="controls">
				<input type="text" class="input-large" name="hash" id="hash" />
				<button type="submit" class="btn btn-primary">Join</button>
			</div>
		</div>
	</fieldset>
</form>